@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: map-get($map: $fontSize, $key: 'md');
}
.main{
    text-align: center;
    &__header{
        font-size: map-get($fontSize, 'xl');
        letter-spacing: 10px;
      
        &__top{
            color:map-get($colors, 'primary', 'desaturated-red');
            font-weight: map-get($fontWeight, 'light');
        }
        &__bottom{
            color:map-get($colors, 'neutral');
            font-weight: map-get($fontWeight, 'heavy');
        }
    }
    &__paragraph{
        font-size: map-get($map: $fontSize, $key: 'md');
        color:map-get($colors, 'primary', 'desaturated-red');
        line-height: 23px;
    }
    &__errortxt{
        color:map-get($colors, 'primary', 'soft-red');
    }
}
@media (min-width:map-get($breakpoints,'sm')) {
    body{
        font-family: 'Josefin Sans', sans-serif;
        font-size: map-get($map: $fontSize, $key: 'lg');
    }
    .main{
        text-align: start;
        &__header{
            font-size: map-get($fontSize, '2xl');
            letter-spacing: 10px;
        }
        &__paragraph{
            font-size: map-get($map: $fontSize, $key: 'lg');
            line-height: 30px;
        }
    }
}